.feature-scroll-section {
  width: 100vw;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-scroll-section .section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.infinite-scroll-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;
  /* Ensure cards don't shrink */
  flex-shrink: 0;
  margin-left: -1em; /* Apply negative margin here */
}

.feature-scroll-section .feature-card {
  width: 100%; /* Take full width of its container (infinite-scroll-item) */
  height: 100%; /* Take full height of its container (infinite-scroll-item) */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-scroll-section .feature-title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
}

.feature-scroll-section .feature-description {
  font-size: 1.25rem;
  color: #ccc;
}
