.infinite-scroll-wrapper {
  position: relative;
  overflow: hidden;
}

.infinite-scroll-wrapper::before,
.infinite-scroll-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

.infinite-scroll-wrapper::before {
  top: 0;
  background: none;
}

.infinite-scroll-wrapper::after {
  bottom: 0;
  background: none;
}

.infinite-scroll-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  cursor: grab;
  transform-style: preserve-3d;
  perspective: 800px;
  align-items: center; /* Center items horizontally */
}

.infinite-scroll-item {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  font-weight: 200;
  color: #fff;
  padding: 1rem;
  box-sizing: border-box;
}
